RewriteEngine On
RewriteBase /od/
RewriteRule ^lines/(.*)$ /od/lines.php?mode=$1 [L]
RewriteRule ^line/(.*)$ /od/line.php?id=$1 [L]
RewriteRule ^stations/(.*)$ /od/stations.php?station=$1 [L]
RewriteRule ^stop-points/(.*)$ /od/stop_points.php?id=$1 [L]
RewriteRule ^timetable/(.*)$ /od/timetable.php [L]
RewriteRule ^cabwise-station/(.*)$ /od/cabwise.php?station=$1 [L]
#RewriteRule ^bike-point(.*)$ /od/bike_points.php [L]
RewriteRule ^air-quality(.*)$ /od/air_quality.php [L]
RewriteRule ^car-parkings(.*)$ /od/car_park.php [L]
RewriteRule ^places/(.*)$ /od/places.php?type=$1 [L]
RewriteRule ^journey-planning(.*)$ /od/journey_planning.php [L]
RewriteRule ^map/(.*)$ /od/map.php [L]
RewriteRule ^place/(.*)/(.*)$ /od/place_details.php?id=$1 [L]
RewriteRule ^station/(.*)/(.*)$ /od/station.php?id=$1 [L]
RewriteRule ^stop-point/(.*)/(.*)$ /od/stop_point_details.php?id=$1 [L]
RewriteRule ^sitemap.xml$ /od/site-map/sitemap.php [L]
RewriteRule ^sitemap-lines.xml$ /od/site-map/sitemap-lines.php [L]
RewriteRule ^sitemap-stations.xml$ /od/site-map/sitemap-stations.php [L]
RewriteRule ^sitemap-stop-points.xml$ /od/site-map/sitemap-stop-points.php [L]
RewriteRule ^sitemap-places.xml$ /od/site-map/sitemap-places.php [L]


RewriteRule ^charge-connector(.*)$ /od/places.php?type=ChargeConnector [L]
RewriteRule ^bike-point(.*)$ /od/places.php?type=BikePoint [L]
RewriteRule ^cycle-parking(.*)$ /od/places.php?type=CyclePark [L]
RewriteRule ^taxi-ranks(.*)$ /od/places.php?type=TaxiRank [L]
RewriteRule ^charge-station(.*)$ /od/places.php?type=ChargeStation [L]
RewriteRule ^coach-bay(.*)$ /od/places.php?type=CoachBay [L]
RewriteRule ^coach-parking(.*)$ /od/places.php?type=CoachPark [L]
RewriteRule ^cabwise(.*)$ /od/places.php?type=Cabwise [L]
RewriteRule ^boroughs(.*)$ /od/places.php?type=Boroughs [L]
RewriteRule ^other-places(.*)$ /od/placesGroup.php?ids=1-14-15-16-18-19-20-21-23-24 [L]
RewriteRule ^waterfreight(.*)$ /od/placesGroup.php?ids=25-26-27-28-29-30-31 [L]
RewriteRule ^red-light-speed-cameras(.*)$ /od/placesGroup.php?ids=19-20-21 [L]

RewriteRule ^car-park/(.*)/(.*)$ /od/car_park_details.php?id=$1 [L]
