RewriteEngine off
AuthUserFile "/home/brgambal/.htpasswds/public_html/christiantransfers.eu/admin/passwd"
AuthType Basic
AuthName "home/brgambal/public_html/christiantransfers.eu/admin"
require valid-user
